body,
html {
  background-color: #434343;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  max-width: 500px;
  width: 80%;
}

h1,
h2 {
  color: white;
}
